extends ./layout.jade

block style
  style
    include css/combi.css
      
block content
  section.hero
    .hero-content
      .container
        if error_message
          .notification.is-danger #{error_message}
        h1.title 
          span あと
          span.count #{words.length}
          span こ
        h3.subtitle.is-3 テーマ：#{main_theme}
  
  //- section.hero
  //-   .hero-content
  //-     .container
  form(action="/rest" method="POST")
    input(type="hidden" name="main_theme" value=main_theme)
    input(type="hidden" name="word_count" value=words.length)
    section.section
      center
        button.button.is-centered.is-disabled.combi-button もう無理
    .container
      ul
        each word in words
          li
            h4.subtitle.is-4.is-left
              span.tag.is-large.is-info  #{main_theme}
              span  × 
              span.tag.is-large #{word.dataValues.word}
              //- span  ＝
            p.control
              input.input.is-half(name=word.id type="text" placeholder="アイデアをいれろ")
              input(type="hidden" name="#{word.id}_word" value=word.dataValues.word)
          br
    section.section
      center
        button.button.is-centered.is-disabled.combi-button もう無理
    script
      include js/combi.js
