extends ./layout.jade

block style
  style
    include css/combi.css
      
block content
  if error_message
    section.section
      .container
        .message.is-danger
          .message-header ERROR
          .message-body.is-danger.is-centered #{error_message}
  section.hero
    .hero-content
      .container
        h1.title 
          span あと
          span.count #{words.length}
          span こ
        h3.subtitle.is-3 テーマ : 
          span.tag.is-large.is-info  #{main_theme}

  form(action="/rest" method="POST").section
    input(type="hidden" name="main_theme" value=main_theme)
    input(type="hidden" name="word_count" value=words.length)
    section.section
      center
        button.button.is-centered.is-disabled.combi-button もう無理
    .container
      ul
        each word in words
          li.columns
            .colmun
              h4.subtitle.is-4.is-left
                span.tag.is-large.is-info  #{main_theme}
                span  × 
                span.tag.is-large #{word.dataValues.word}
                span.is-large  ＝ 
            .column
              p.control
                input.input.is-half(name=word.id type="text" placeholder="アイデアをいれてください")
                input(type="hidden" name="#{word.id}_word" value=word.dataValues.word)
          br
    section.section
      center
        button.button.is-centered.is-disabled.combi-button もう無理
    script
      include js/combi.js
