extends ./layout.jade

block style
  style
    include css/rest.css
    
block content
  section.hero
    .hero-content
      .container
        h1.title 休憩タイム
        h2.subtitle ひらめきなさい
        h1.title.condara-time-str #{rest_time_str}
        .condara-time #{rest_time}
        form(action="/inspi" method="POST")
          input(type="hidden" name="main_theme" value=main_theme)
          input(type="hidden" name="idea_list" value=idea_list)
          button.button.is-success.is-disabled.condara-button 休憩おわり
    section.section
      h1.title #{rest_time_str}でできること
      .container
        p.control
          label.checkbox
            input(type="checkbox")
            span トイレにいく
          label.checkbox
            input(type="checkbox")
            span コンビニにいく
    script
      include js/rest.js
